:root {
  --base: #171717;
  --base-weak: #fff;

  --faint: #808080;
  --faint-up: #6b6b6b;
  --faint-down: #aaa;
  --faint-weak: #e3e6e9;
  --faint-weak-up: #d5dade;
  --faint-weak-down: #f1f2f4;

  --accent: #0777cf;
  --accent-up: #076dbd;
  --accent-down: #348fd7;
  --accent-weak: #d1e6f6;
  --accent-weak-up: #bbd9f1;
  --accent-weak-down: #e8f2fa;

  --danger: #e15554;
  --danger-up: #b94645;
  --danger-down: #e67373;
  --danger-weak: #fae5e5;
  --danger-weak-up: #f7d4d4;
  --danger-weak-down: #fdf6f6;

  --warning: #e4bf34;
  --warning-weak: #fef6db;

  --success: #36a269;
  --success-weak: #e1f3ea;

  --font: #38424b;
  --font-accent: #2f373e;
  --font-weak: #38424b;

  --border: #2c2c2c;
  --outline: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #667988;

  /* UI/UX */
  --button-color: #2c2c2c;
  --button-color-weak: #fff;

  --form-control-border: #d4d4d4;
  --form-control-border-accent: #aaa;
  --form-control-border-weak: #f5f5f5;
}
